#header {
    height: 70px;
   font-family: 'Nunito Sans';
   /*text-transform: uppercase;*/
   margin-bottom: 0;
   /*font-weight: bold;*/

   
}

li:hover {
   background-color: white; 
   opacity: 0.8;
   border-radius: 3%;

}


@media screen and (max-width: 900px) {
   #header {
      height: 40px;
   }
   .navbar-brand{
      font-size: 18px;
   }

   .navbar-toggler:hover{
      background-color:black; 
   }
}


@media screen and  (max-width: 500px) {
   #header {
      height: 40px;
   }
   .navbar-brand{
      font-size: 16px;
   }

   .navbar-toggler:hover{
      background-color:black; 
   }
}









