#realisationsPage {
    width: 100%;
    margin: auto;
    
}

#realisationCard  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    
}


#realisationCard .card {
    display: grid;
   grid-template-rows: max-content 200px 1fr;
    box-shadow: 0px 5px 5px 5px rgba(68, 68, 68, 0.2) ;
   
}

#realisationCard h5 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

#realisationCard p {
    text-align: center;
    font-size: 18px;
   
}

#realisationCard .card-footer {
    text-align: center;

   
}

@media screen and (max-width: 900px) {
    #realisationCard h5 {
        font-size: 28px;
    }

    #realisationCard p {
        font-size: 16px;
       
    }
}



@media screen and  (max-width: 500px) {
    #realisationCard h5 {
        font-size: 24px;
    }
    #realisationCard p {
        font-size: 14px;
       
    }
}